@page "/"

<PageTitle>HelloStavanger2024</PageTitle>

<h1>Hello, Stavanger</h1>

Welcome to our fileshare web page!
<ul>
    <li>List of files</li>
    <ul>
    <dl>
        <dt>leggtil</dt>
        <dd>krever rest</dd>
        <dt>Se</dt>
        <dt>last ned fil</dt>
        <dd>krever rest</dd>
        <dt>fjern</dt>
        <dd>oppdaterer status på fil, service som sletter</dd>
    </dl>
</ul>
    <li>Tilgang, egen topic</li>
    
    <ul>
        <li>se hvem som har tilgang</li>
        <li>Legg til</li>
        <li>fjern</li>
    </ul>
    <li>Admin side</li>
    <ul>
        <li>alle filer i systemet</li>
        <li>slett alle filer</li>
        <li>rediger tilganger på en fil</li>
    </ul>
</ul>