@page "/"

<PageTitle>HelloStavanger2024</PageTitle>

<h1>Hello, Stavanger</h1>

Welcome to our fileshare web page!

<h2>List of files</h2>
<h3>leggtil</h3><p>krever rest</p>
<h3>Se</h3>
<h3>last ned fil</h3><p>krever rest</p>
<h3>fjern</h3><p>oppdaterer status på fil, service som sletter</p>

<h2>Tilgang</h2><p>egen topic, </p>
<h3>se hvem som har tilgang</h3>
<h3>Legg til</h3>
<h3>fjern</h3>

<h2>Admin side</h2>
<h3>alle filer i systemet</h3>
<h3>slett alle filer</h3>
<h3>rediger tilganger på en fil</h3>